.container{
    width: 30rem;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.container > h1{
    font-size: 1.5rem;
}

.container > input{
    width: 18rem;
    padding: .7rem;
    margin-top: .5rem;
    border-radius: .3rem;
    border-width: 0;
    outline-width: 0;
    border: .5px solid var(--grey);
}

.signup{
    margin: 1rem;
    width: 65%;
    height: 2rem;
    background-color: var(--blue);
    border: 0;
    padding: 1rem;
    color: var(--white);
    border-radius: 2rem;
    cursor: pointer;
}

.signup:hover{
    background-color: rgb(46, 46, 238);
}
.break{
    display: flex;
    align-items: center;
}
.break > p{
    width: 6rem;
    border: 0.8px solid var(--gray);
}

.icon{
    margin: 1rem;
    cursor: pointer;
}